* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body {
  scroll-behavior: smooth;
}

body,
button {
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: black;
  background-image: linear-gradient(135deg, black 0%, black 74%);
  overflow-x: hidden;
  transform-style: preserve-3d;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 72rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.logo {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 4rem;
}

.logo span {
  font-weight: 300;
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: #eee;
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: #eee;
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  overflow: hidden;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: 0.5s;
}

header {
    min-height: 100vh;
    width: 100%;
    background: url("https://thumbs.gfycat.com/KindDistortedIrrawaddydolphin-size_restricted.gif") no-repeat top center / cover;
    position: relative;
  }

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(43, 51, 59, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: #fff;
  padding: 0 2rem;
}

.title {
  font-size: 2.7rem;

}
.title span {
  font-weight: 300;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  width: 30%;
  right: 0;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: #eee;
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  opacity: 0;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;
}

.links a:hover {
  color: #1179e7;
}

.container.active .links a {
  animation: appear 0.5s forwards ease var(--i);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: white;
}

.shadow.one {
  z-index: -1;
  opacity: 0.15;
}

.shadow.two {
  z-index: -2;
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(20deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(20deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(20deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(20deg) translateZ(340px) scale(0.5);
}

.antiscroll {
    overflow-x: hidden;
}
/* end menu */

/* Contact Begin */
.contact {
    min-height: 82vh;
    width: 100vw;
    margin-top: 9vw;
  }
  .containerC{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
  }
  
  .containerC:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: url("https://thumbs.gfycat.com/KindDistortedIrrawaddydolphin-size_restricted.gif") no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: -1;
  }
  .contact-boxC{
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
  }
  
  .leftC{
    background: url("https://thumbs.gfycat.com/KindDistortedIrrawaddydolphin-size_restricted.gif") no-repeat center;
    background-size: cover;
    height: 100%;
  }
  
  .rightC{
    padding: 25px 40px;
  }
  
  .contactf{
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
    color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .contactf:after{
    content: '';
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      height: 4px;
      width: 50px;
      border-radius: 2px;
      background-color: white;
  }
  
  .fieldC{
    width: 100%;
    border: 2px solid black(0, 0, 0, 0);
    outline: none;
    background-color: white;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
    font-family: "Poppins", sans-serif; color: black;
    
  }
  
  .fieldC:hover{
    background-color: white;
  }
  
  textarea{
    min-height: 150px;
    font-family: "Poppins", sans-serif;
  }
  
  .btnC {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
    border: 2px solid white;
    }
  
  .btnC:hover{
      background-color: #1179e7;
      border: 2px solid #1179e7;
  }
  
  .fieldC:focus{
      border: 2px solid #1179e7;
      background-color: white;
  }
  
  @media screen and (max-width: 880px){
    .contact-box{
      grid-template-columns: 1fr;
    }
    .left{
      height: 200px;
    }
  }

  .smalltext-contact {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    margin-top: 1vw;
    text-align: center;
    margin-bottom: 10px;
  }
 
 
  /* Contact end */
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
  }

  .about-img {
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    margin-left: 250px;
  }

  .about-text h2{
    font-size: 50px;
    line-height: 1;
    color: white;
    margin-bottom: 50px;
    margin-left: 25vh;
  }

  .about-text p{
    color: white;
    font-size: 25;
    line-height: 1.8;
    margin-bottom: 4rem;
    margin-right: 50px;
  }
  /* About me end */

  /* Thank you begin */
  .thankyou {
    color: white;
    font-size: 25;
    line-height: 1.8;
    margin-bottom: 4rem;
    margin-right: 50px;
  }

  /* Thank you begin */